---
---
:root {
	--accent-color: {{ site.theme-color }};
	--button-background: var(--accent-color);
	--button-active-background: var(--button-background);
	--header-background: url("/img/raster/background.jpg");
}
